

h4{
    margin: 0;
    padding: 2rem 0;
    color: rgb(4, 255, 50);
    font-size: 3rem;
}

.styled-p{
    color: red;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-style{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 4rem;
    height: 5rem;
}

.skills-card{
    background: #1F1B42;
    border-radius: 30px;    
    width: 17rem;
    padding: 30px 20px; 
    margin-bottom: 5rem;
}


.skills-section-display{
    margin-left: 5rem;
    display: grid;
    grid-template-areas: 
    'grid-col-1 grid-col-2 grid-col-3 grid-col-4';
    overflow: hidden;
}

.first-col{
    grid-area: grid-col-1;
}

.second-col{
    grid-area: grid-col-2;
}

.third-col{
    grid-area: grid-col-3;
}

.forth-col{
    grid-area: grid-col-4;
}



@media screen and (max-width: 1100px) {
    .skills-section-display{
        gap:2rem;
        margin:0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and ( max-width: 768px) {
    .skills-section-display{
    grid-template-areas:
    'grid-col-1 grid-col-2'
    'grid-col-3 grid-col-4'
    ;
     gap:30px;
     min-height: 100vh;
    }

    .skills-section-display > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

}


@media screen and (max-width: 500px) {

    h4{
        margin-left: 3rem;
    }



    .skills-section-display > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

   
    .js-img{
        margin-right: 1.5rem;
    }
}