
.form-container{
    min-height: 100vh;
}

.display-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    font-size: 1rem
}

    input {
      width: 100%;
      height: 35px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(220, 220, 220);
    
    }

    textarea {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      max-height: 100px;
      min-height: 100px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(220, 220, 220);
    
    }
    label {
      margin-top: 1rem;
      color: #FFF;
    }

    input[type="submit"] {
      margin-top: 2rem;
      cursor: pointer;
      background: rgb(249, 105, 14);
      color: white;
      border: none;
    }
  
    @media screen and (max-width: 768px) {
      form{
        width:25rem;
      }
    }

    @media screen and (max-width: 550px) {
      form{
        width:20rem;
      }
    }

    @media screen and (max-width: 425px) {
      form{
        width:17rem;
      }
    }